# Node modules
node_modules/

# Android build
android/.gradle/
android/app/build/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/

# Logs
*.log
*.keystore

# Misc
.env
.DS_Store